* {
  margin-left: 5%;
}

hr {
  margin: 0;
  margin-right: 15%;
}

h5 {
  margin-bottom: 0;
}


.nome {
  display: inline-block;
  width: calc(33%);

  padding: 0%;
  margin: 0%;
}

.mostrar {
  margin-top: 5%;
  display: inline;
}

#btnCor {
  display: inline-block;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 30%;
}

.botoesEditar {
  display: block;
}

#btnApagar {
  margin: 0;
}

#apagar {
  display: block;
  margin: 0;
  margin-top: 2%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.gpspostosprox {
  background-color: #00285f;
  height: 5vh;
  color: #ededed;
}

:root {
  --orange: #f78b00;
  --blue: #00285f;
  --gray: #ededed;
}





header {
  width: 100%;
  height: 15vh;
  background: var(--orange);
  text-align: center;
}

.content {
  max-width: 100%;
  min-width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 1.5em;
  color: var(--blue);
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
  padding: 1em;
  cursor: pointer;
}

nav ul li a {
  color: var(--blue);
  text-decoration: none;
}

nav ul li a:hover {
  color: #00285f83;
}

nav ul button {
  border: 0.1em solid var(--blue);
  background: transparent;
  padding: 0.8em 4em;
  cursor: pointer;
  margin-left: 3em;
  color: var(--blue);
  font-weight: bold;
  border-radius: 0.4em;
}

nav ul button:hover {
  transition: background, color 0.6s;
  background: var(--blue);
  color: white;
}

.content .header-block {
  max-width: 100%;
  min-width: 30%;
  height: 45em;
  background: var(--blue);
  border-radius: 0.8em;
  box-shadow: 0.1em 0 1em 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0.1em 0 1em 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0.1em 0 1em 0 rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  padding: 1em;
}

.header-block img {
  width: 50%;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

.header-block .text {
  position: absolute;
  bottom: 30%;
  left: 15%;
}

.header-block .text h2 {
  color: white;
  margin-bottom: 2em;
  text-align: right;
  transform: translateX(-2em);
  transition: transform 0.5s;
}

.header-block .text p {
  max-width: 28em;
  color: white;
  text-align: right;
  transform: translateX(-2em);
  transition: transform 0.4s;
}